symboliclinkcreator/conf/eniqmifconfig.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<!ELEMENT subdir (#PCDATA)>
<!ELEMENT nodeTypeDir (#PCDATA)>
<!ELEMENT neType (#PCDATA)>
<!ELEMENT maxNumLinks (#PCDATA)>
<!ELEMENT InterfaceData ((Interface+))>
<!ELEMENT Interface ((neType, maxNumLinks, nodeTypeDir, subdir+))>
